body {
    font-family: 'Roboto', sans-serif;
    background-color: #fdfdff;
    color: #000;
}

body.dark-theme {
    background-color: #2c3e50;
    color: #ffffff;
}

body.dark-theme #title-two {
    color: #effff6;
}

.nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1px;
}

.nav-item {
    box-sizing: border-box;
    padding: 1px;
}

#title-one {
    font-size: 2.5rem;
    font-weight: 700;
    color: #16db6b;
}

#title-two {
    font-size: 2.5rem;
    font-weight: 700;
    color: #6c757d;
}

body.dark-theme .sidebar a {
    color: #000000;
}

.sidebar a {
    color: #000;
}

.sidebar a:hover {
    background-color: #c8f5e2;
}

body.dark-theme .sidebar a:hover {
    color: #000000;
}

body.dark-theme .sidebar a {
    color: #ffffff;
}

body.dark-theme .card-body {
    background-color: #2c3e50;
    color: #fff;
}

button#scrollToTopBtn {
    position: fixed;
    display: none;
    border-radius: 50%;
    bottom: 20px;
    right: 20px;
    font-size: 16px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1000;
    background-color: #16db6b;
    color: #fff;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

button#scrollToTopBtn:hover {
    background-color: #13a557;
}

button#btnToggleSpeech,
button#btnReload {
    margin-bottom: 10px;
    background-color: #16db6b;
    border: none;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button#btnToggleSpeech:hover,
button#btnReload:hover {
    background-color: #13a557;
}

.container {
    margin-top: 20px;
}

.card {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-body {
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
}

h5 {
    font-size: 2rem;
    color: #16db6b;
    font-weight: 600;
    margin-top: 40px;
}

h5.dark-theme {
    color: #9ffbd4;
}

p {
    font-size: 1rem;
    line-height: 1.6;
}

.center-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.center-image-container img {
    max-width: 100%;
    max-height: 100%;
    border: 3px solid #9ffbd4;
    border-radius: 7px;
    height: auto;
}

footer {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
}

footer p {
    font-size: 0.9rem;
}

footer h6 {
    font-size: 1.2rem;
    font-weight: 600;
}

footer h6 img {
    margin-right: 10px;
}

footer .text-center {
    padding-top: 20px;
    border-top: 1px solid #444;
}

@media (max-width: 768px) {
    body {
        padding-left: 0;
    }

    .sidebar {
        width: 300px;
        left: -200px;
    }

    .sidebar.open {
        left: 0;
    }

    .menu-toggle {
        display: block;
    }

    .container {
        margin-top: 60px;
    }

    .nav {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .nav {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1025px) {
    .nav {
        grid-template-columns: repeat(5, 1fr);
    }
}